# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/

# Unit test / coverage reports
.coverage
.cache

# IDE
.idea/

# Libraries
ninecms/static/ninecms/bootstrap/
ninecms/static/ninecms/ckeditor/
ninecms/static/ninecms/images/
ninecms/static/ninecms/jquery/
ninecms/static/ninecms/jquery.scrollTo/
ninecms/static/ninecms/masonry/
ninecms/static/ninecms/video-js/
ninecms/static/ninecms/waypoints/
ninecms/static/ninecms/owl-carousel/
ninecms/static/ninecms/wow/
ninecms/static/ninecms/angular.min.js
ninecms/version.txt
