### Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

### IDE
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
.idea/

### Fish vf
.venv

### Django
# Exclude all static files such as front-end libraries
ninecms/static/ninecms/*

# except ckeditor recommended build config
!ninecms/static/ninecms/ckeditor/
ninecms/static/ninecms/ckeditor/*
!ninecms/static/ninecms/ckeditor/build-config.js

# except NineCMS own images, js and css
!ninecms/static/ninecms/images/
!ninecms/static/ninecms/*.js
!ninecms/static/ninecms/*.css
tests/media/ninecms/basic/image/*/
